body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
img{
  width: 50%;

}
h1{
  color: #99154E;
  padding: 70px 0 20px;
  font-family: 'Sacramento', cursive;
  font-size: 7em;
  margin: 0;


}
h2
{
  padding-bottom: 50px;
  font-family: 'Merriweather', serif;
  color: #FF9300;
  font-size: 2em;
}
h3{
  color: #8E806A;
  font-family: 'Montserrat', sans-serif;
}
hr{
  width: 15%;
  border-width: 20px;
  border-style: none;
  border-top-style: dotted;
  color: #C1FFD7;
  padding-bottom: 50px;
}
sup{
  font-family: sans-serif;
}
table{
  margin: 1px auto;
  padding-bottom: 70px;

}
th{
  font-family: 'Merriweather', serif;

}
.bull-img{
  height: 400px;
    width: 500px;
}
.bottom-container{
  padding: 40px 0;
  background-color: #94B3FD;

}
.i1{
  height: 100px;
  width: 100px;
  position: absolute;
  left: 10%;
  top: 100px;
}
.i2{
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 250px;
  left: 10%;
}
.i3{
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 150px;
  right: 10%;
}
.i4{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 160px;
  right: 10%;
}
.top-container
{
  background-color: #C0D8C0;
  position:relative;
  margin: 0;

}
.top-price{
  width: 50%;
  margin: 0 auto;
}

.stocksprice{
  height: 70px;
  width: 70px;

}
.sprice{
  display:inline-block;
}
.td1{
  background-color: #FFADF0;
}
.td2{
  background-color: #FEE3EC;
}
.td3{
  background-color: #EDD2F3;
}
